<?xml version="1.0"?>
<config>
    <app-name>kvrportal</app-name>
    <server-addr>183.82.98.147</server-addr>
    <server-port>11000</server-port>
    <stream-addr>183.82.98.147</stream-addr>
    <stream-port>25222</stream-port>
    <connection-encryption description="NO-default value,TLS1_1-TLS version 1.1 encryption">NO</connection-encryption>
    <namespace>PortalvisionService</namespace>
    <bootup>true</bootup>
    <camcapture-compression description="if true, higher cpu utilization and low usb bandwidth">false</camcapture-compression>
    <record-fps>15</record-fps>
    <record-resolution>320x240</record-resolution>
    <stream-fps>8</stream-fps>
    <stream-resolution>240x180</stream-resolution>
    <manage-network>1</manage-network>
    <reconnect-duration>2</reconnect-duration>
    <reconnect-poll-count>2</reconnect-poll-count>
    <mobile-broadband-connection description="if u use wvdial to connect set it to 'wvdial' without quotes or if u use network manager set it to connection name. If connection name contains spaces, put it in double quotes">wvdial</mobile-broadband-connection>
    <config-modem description="to run wvdialconf at startup put it true default false">false</config-modem>
    <internet-test-url>www.google.com</internet-test-url>
    <corporate-network-gateway>192.168.2.1</corporate-network-gateway>
    <gps-device>/dev/serial/by-id/usb-Prolific_Technology_Inc._USB-Serial_Controller-if00-port0</gps-device>
    <gps-sdevice-baudrate>57600</gps-sdevice-baudrate>
    <debug description="debug value in context of spawn=2, socket=4">1</debug>
</config>
