SUBSYSTEMS=="usb", ACTION=="add", DRIVERS=="option", ATTRS{bNumEndpoints}=="03", SYMLINK+="CDMAModem"
SUBSYSTEMS=="usb", ACTION=="remove", DRIVERS=="option", ATTRS{bNumEndpoints}=="03", SYMLINK-="CDMAModem"
